<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>scale_factor</key>
        <real>{{global.scale_factor}}</real>
        <key>inner_padding</key>
        <real>{{global.inner_padding}}</real>
        <key>category_names</key>
        <array>{% for bit in global.collision_bitfield %}
            <string>{{bit}}</string>{% endfor %}
        </array>
        <key>bodies</key>
        <dict>
{% for body in bodies %}
            <key>{{body.name}}</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ {{body.anchorPointRel.x|floatformat:5}},{{body.anchorPointRel.y|floatformat:5}} }</string>
                <key>is_static</key>
                {% if body.is_static %}<true/>{% else %}<false/>{% endif %}
                <key>affected_by_gravity</key>
                {% if body.affected_by_gravity %}<true/>{% else %}<false/>{% endif %}
                <key>allows_rotation</key>
                {% if body.allows_rotation %}<true/>{% else %}<false/>{% endif %}
                <key>fixtures</key>
                <array>
{% for fixture in body.fixtures %}
                    <dict>
                        <key>mass</key>
                        <real>{{fixture.mass}}</real>
                        <key>elasticity</key>
                        <real>{{fixture.elasticity}}</real>
                        <key>friction</key>
                        <real>{{fixture.friction}}</real>
                        <key>surface_velocity</key>
                        <string>{ {{fixture.surface_velocity_x|floatformat:5}},{{fixture.surface_velocity_y|floatformat:5}} }</string>
                        <key>corner_radius</key>
                        <real>{{fixture.corner_radius}}</real>
                        <key>collision_categories</key>
                        <integer>{{fixture.collision_categories}}</integer>
                        <key>collision_mask</key>
                        <integer>{{fixture.collision_mask}}</integer>
                        <key>collision_type</key>
                        <string>{{fixture.collision_type}}</string>
                        <key>collision_group</key>
                        <string>{{fixture.collision_group}}</string>
                        <key>is_sensor</key>
                        {% if fixture.is_sensor %}<true/>{% else %}<false/>{% endif %}
                        {% if fixture.isCircle %}
                        <key>fixture_type</key>
                        <string>{{fixture.type}}</string>
                        <key>circle</key>
                        <dict>
                            <key>radius</key>
                            <real>{{fixture.radius|floatformat:3}}</real>
                            <key>position</key>
                            <string>{ {{fixture.center.x|floatformat:3}},{{fixture.center.y|floatformat:3}} }</string>
                        </dict>
                        {% else %}
                        {% if fixture.is_polyline %}
                        <key>fixture_type</key>
                        <string>POLYLINE</string>
                        <key>polygons</key>
                        <array>
                            <array>{% for point in fixture.hull %}
                                <string>{ {{point.x|floatformat:5}},{{point.y|floatformat:5}} }</string>{% endfor %}
                            </array>
                        </array>
                        {% else %}
                        <key>fixture_type</key>
                        <string>{{fixture.type}}</string>
                        <key>polygons</key>
                        <array>{% for polygon in fixture.polygons %}
                            <array>{% for point in polygon %}
                                <string>{ {{point.x|floatformat:5}},{{point.y|floatformat:5}} }</string>{% endfor %}
                            </array>{% endfor %}
                        </array>
                        {% endif %}
                        {% endif %}
                    </dict>
{% endfor %}
                </array>
            </dict>
{% endfor %}
        </dict>
    </dict>
</plist>




